<!-- Portfolio -->
	<article class="container box style2">
		<header class="wow animated fadeIn">
			<h2>Portfolio</h2>
			<p>Take a look some Social Web projects. Many more will come, soon.</p>
		</header>
		<div class="inner gallery">
			<div class="row 0%">
				<div class="3u 12u(mobile) wow animated fadeInLeft">
					<a href="assets/images/portfolio/fulls/01.jpg" class="image fit"><img src="assets/images/portfolio/01.jpg" alt="Simply angular website" title="Simply angular website" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInDown">
					<a href="assets/images/portfolio/fulls/02.jpg" class="image fit"><img src="assets/images/portfolio/02.jpg" alt="Animated one page website" title="Animated one page website" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInUp">
					<a href="assets/images/portfolio/fulls/03.png" class="image fit"><img src="assets/images/portfolio/03.jpg" alt="Wordpress blog" title="Wordpress blog" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInRight">
					<a href="assets/images/portfolio/fulls/04.jpg" class="image fit"><img src="assets/images/portfolio/04.jpg" alt="One page website for small business" title="One page website for small business" />
					</a>
				</div>
				
			</div>
			<div class="row 0%">
				<div class="3u 12u(mobile) wow animated fadeInLeft">
					<a href="assets/images/portfolio/fulls/05.jpg" class="image fit"><img src="assets/images/portfolio/05.jpg" alt="One page website about interior design" title="One page website about interior design" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInUp">
					<a href="assets/images/portfolio/fulls/06.png" class="image fit"><img src="assets/images/portfolio/06.jpg" alt="A small red social made it in PHP" title="A small red social made it in PHP" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInRight">
					<a href="assets/images/portfolio/fulls/07.jpg" class="image fit"><img src="assets/images/portfolio/07.jpg" alt="A small red social developed in PHP" title="A small red social developed it in PHP" />
					</a>
				</div>
				<div class="3u 12u(mobile) wow animated fadeInDown">
					<a href="assets/images/portfolio/fulls/08.jpg" class="image fit"><img src="assets/images/portfolio/08.jpg" alt="Dinamic inventory system with a shopping cart" title="Dinamic inventory system with a shopping cart" />
					</a>
				</div>
			</div>
		</div>
	</article>