		<section id="footer" class="wow animated fadeInUp">
			<img src="assets/images/logo.jpg" height="80" width="80" alt="Social Web" class="logo">
			<br>
			<ul class="icons">
				<li>
					<a [href]="_is.info.twitter"  target="_blank" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a [href]="_is.info.facebook" target="_blank"  class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
			</ul>

			<div class="copyright">
				<ul class="menu">
					<li>&copy; {{_is.info.title}}. All rights reserved.</li>
				</ul>
			</div>
		</section>