<!-- Feature 1 -->
			<article id="first" class="container box style1 right wow animated fadeInRight">
				<a href="#" class="image">
					<img src="assets/images/pic01.jpg" alt="" />
				</a>
				<div class="inner">
					<header>
						<h2>Frontend development<br />
						The beauty part</h2>
					</header>
					<p>We want you to have a perfect website made it  for you. Because of, we work with the most demanded currently technologies as bootstrap, angular, firebase, responsive design, UI/UX, Material Desing and HTML5, of course.</p>
				</div>
			</article>

		<!-- Feature 2 -->
			<article class="container box style1 left wow animated fadeInLeft">
				<a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Backend development<br/>
						The logic part</h2>
					</header>
					<p>Do you want to get a dynamic website? <br>Well, in Social Web we build dynamic websites with the most demanded currently programming languages. PHP, JavaScript, Wordpress, NodeJs, Databases as MongoDB, MySQL and more. Do you need anything else?</p>
				</div>
			</article>