<!-- Banner -->
	<section [ngStyle]="{'background-image': 'url(assets/images/banner.svg)' }" id="banner"  >
		<header class="wow animated fadeIn">
			<h2>This is {{_is.info.title}}</h2>
		</header>
		<p class="wow animated fadeIn">A development small team looking for awesome things. <br>
		All you need is here. Dynamics websites built in Angular and PHP, with custom made design for you<br/>
		<sup>NodeJs, JavaScript, MongoDB, Firebase and more</sup>
		<footer>
			<a href="#first" class="button style2 scrolly">Keep reading</a>
		</footer>
	</section>